[Desktop Entry]
Type=Application
Version=1.0
Name=Install Parrot
GenericName=Parrot Installer
Exec=install-debian
Comment=Calamares — Installer for Parrot OS
Keywords=calamares;system;install;debian;installer
Icon=install-debian
Terminal=false
Categories=Qt;System;
StartupWMClass=calamares
StartupNotify=True
